body {
    display: block;
    align-items: center;
    justify-items: center;
    content: normal;
    padding: 8%;
    background-image: url("/images/Form_Background_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.83);
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
   
}


.email {
    margin: auto;     
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4%;
    color: rgb(141, 141, 141);
    box-shadow: 0 4px 10px rgba(178, 178, 178, 0.2);
    background-color: rgba(158, 158, 158, 0.147)
}

.username {   
    margin: auto;     
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4%;
    color: rgb(141, 141, 141);
    box-shadow: 0 4px 10px rgba(178, 178, 178, 0.2);
    background-color: rgba(158, 158, 158, 0.147)
}

.password {
    margin: auto;     
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4%;
    color: rgb(141, 141, 141);
    box-shadow: 0 4px 10px rgba(178, 178, 178, 0.2);
    background-color: rgba(158, 158, 158, 0.147)
}

.submit {
    color: #ccc;
    border: 0;
    border-radius: 6px;
    margin: auto;
    width: 270px;
    padding: 12px 36px 12px 36px;
    transition: 0.6s;
    background-color: rgba(48, 48, 48, 0.995)
    
}

.submit:hover {
    background-color: rgba(232, 232, 232, 0.762);
    color: rgb(48, 48, 48);
    border: 1px solid #ccc;
}


::placeholder {
    color: rgb(169, 169, 169);
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    }

.icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-account {
    background-color: rgba(158, 158, 158, 0.147);
    border-radius: 50%;
    padding: 18px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}



p {
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px;
    color: rgb(150, 150, 150);
    
    
}

h3 {
    font-family: Helvetica, sans-serif;
    color: rgb(112, 112, 112);
}

.signup {
    color: black;
}